<a href="https://colab.research.google.com/github/CamK2/cis490/blob/main/HelloWorld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common program elements #

* **IO**
  * Console
  *File

*Data Structures
  *Variables

#Welcome to my Hello World page!

In [ ]:
print('Hello World')

Hello World

In [ ]:
# x = input("Who is NU's mascot")
x = input("Who is NU's mascot")
print(x)

Who is NU's mascotmonte the eagle
monte the eagle

In [ ]:
# Variables
a = 5
b = a
a = 3
print('a:', a)
print('b:', b)

a: 3
b: 5

In [ ]:
# LIST
a = [1,2,3,4]
print('a:', a)
print('a[0]:', a[0])
print('a[-1]:', a[-1])

a: [1, 2, 3, 4]
a[0]: 1
a[-1]: 4

In [ ]:
x = ['a','b','c',4]
y = x
x[0] = ['MONTE WAS HERE!']
print('x:', x)
print('y:', y)

x: [['MONTE WAS HERE!'], 'b', 'c', 4]
y: [['MONTE WAS HERE!'], 'b', 'c', 4]

In [ ]:
x.append('e')
print(x)
print(y)

[['MONTE WAS HERE!'], 'b', 'c', 4, 'e']
[['MONTE WAS HERE!'], 'b', 'c', 4, 'e']

In [ ]:
# BASIC MATH
x = 5
y = 6
z = 5/6
a = 3+4
b = 3+4*2
c = (3+4)*2
d = 2**3
print('x:', x)
print('z:', z)
print('a:', a)
print('b:', b)
print('c:', c)
print('d:', d)

x: 5
z: 0.8333333333333334
a: 7
b: 11
c: 14
d: 8

In [ ]:
#DICT
names = ['Christain', 'Raquan', 'Michael']
fav_num = [3,16,4]
n = 'raquan'

In [ ]:
65 % 2

1